---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Future Creators Website">
  <main>
    <p>Hello Future Creators!</p>
    <Card
      href="https://uafc.ca/"
      title="Old UAFC Website"
      body="You can click this link to view the old UAFC website"
    />
  </main>
</Layout>
