---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro";
---

<Layout title="Future Creators Website">
  <Navbar/>
  <main>
    <div class="text-5xl my-6">Hello Future Creators!</div>
    <div class="flex gap-4">
      <Card
        href="https://uafc.ca/"
        title="Old UAFC Website"
        body="You can click this link to view the old UAFC website"
      />
      <Card
        href="/about"
        title="About Page"
        body="You can click this link to view the About page!"
      />
    </div>
  </main>
  <Footer/>
</Layout>
