---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro"
---

<Layout title="Future Creators | Mentees">
  <main>
    <Navbar/>
    <p>Mentees page of Future Creators Website</p>
    <a href="/" class="underline text-blue-600"
      >Go back to home page
      <span>&rarr;</span>
    </a>
  </main>
</Layout>
