---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro";
---

<Layout title="Future Creators | Projects">
  <Navbar/>
  <main>
    <p>Projects page of Future Creators Website</p>
    <a href="/" class="underline text-blue-600"
      >Go back to home page
      <span>&rarr;</span>
    </a>
  </main>
  <Footer/>
</Layout>
