---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white p-6">
  <div>
    <h2 class="text-lg font-bold">
      {title}
    </h2>
    <p>
      {body}
    </p>
    <a class="underline text-blue-600" href={href}
      >Link
      <span>&rarr;</span>
    </a>
  </div>
</div>
