---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="max-w-sm rounded-xl border overflow-hidden bg-blue-300 p-6">
  <div>
    <a class="underline text-blue-600" href={href}
      >{title}
      <span>&rarr;</span>
    </a>
    <p class="text-white">
      {body}
    </p>
  </div>
</div>
