---
---
<footer class="bg-white dark:bg-sky-950">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">About</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                    <a href="/" class=" hover:underline">About</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Join</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                    <a href="/volunteers" class="hover:underline">Volunteers</a>
                </li>
                <li class="mb-4">
                    <a href="/students" class="hover:underline">Mentees</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Get In Touch</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                    <a>uafc@ualberta.ca</a>
                </li>
                <li class="mb-4">
                    <a href="/contact-us" class="hover:underline">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</footer>
