---

---
<nav class="border-gray-200 bg-gray-50 dark:bg-neutral-800 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-6 px-8">
    <a href="/" class="flex items-center space-x-2 rtl:space-x-reverse">
      <!-- replace with uafc.ca once we get to hosting -->
      <img src="https://images.squarespace-cdn.com/content/v1/613d6c98681a0134da747eee/83ef0a13-cb88-4876-ba6a-2b4c65e9d6e6/name_hand.png?format=1500w" class="h-20" alt="UAFC Logo" />
    </a>
    <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:flex md:w-auto" id="navbar-hamburger">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-neutral-800 dark:border-gray-700 md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
        <li>
          <a href="/about" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">About Us</a>
        </li>
        <!-- <li>
          <a href="/ourteam" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">Our Team</a>
        </li> -->
        <li>
          <a href="/volunteers" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">Volunteers</a>
        </li>
        <li>
          <a href="/mentees" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">Mentees</a>
        </li>
        <li>
          <a href="/projects" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">Projects</a>
        </li>
        <!-- <li>
          <a href="/gallery" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">Gallery</a>
        </li> -->
        <li>
          <a href="/contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- JS for hamburger vs hotdog button functionality -->
  <script type="module">
    document.addEventListener('DOMContentLoaded', () => {
      const button = document.querySelector('[data-collapse-toggle]');
      const menu = document.getElementById(button.getAttribute('aria-controls'));

      button.addEventListener('click', () => {
        const isExpanded = button.getAttribute('aria-expanded') === 'true';
        button.setAttribute('aria-expanded', !isExpanded);
        menu.classList.toggle('hidden');
      });
    });
  </script>
</nav>

